@import "../../GlobalStyles/index";

@each $theme, $values in $themes {
    .day-picker---#{$theme} {
        margin: 4vh 0;
        padding: 0 4vw;
        background: map-get($values, 'primary');
        @include x-scrollable-container;
        @include box-shadow;
    }
}
.day-picker--day-choice {
    @include x-scrollable-element;
    @include tile-size-1;
    @include column-grid;
    @include margin-very-small;
}
