@mixin margin-tiny {
  margin: 5px;
}

@mixin margin-very-small {
  margin: 10px;
}

@mixin margin-small {
  margin: 20px;
}

@mixin margin-medium-small {
  margin: 40px;
}

@mixin margin-medium {
  margin: 60px;
}

@mixin margin-vertical-small {
  margin: 20px 0;
}
