@mixin x-scrollable-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overscroll-behavior: contain;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin x-scrollable-element {
  &:first-child {
    margin-left: auto;
  }
  &:last-child {
    margin-right: auto;
  }
}
