$color-primary: #b2f1b6;
$color-secondary: #dfffdf;
$color-focus: #111111;
$color-out-of-focus: #555555;
$color-error: red;

$color-primary-2: #8cd2ff;
$color-secondary-2: #daf1ff;

$color-reserved-primary: rgb(254,218,160);
$color-reserved-secondary: rgb(255,241,219);


$color-occupied-primary: rgb(255,150,150);
$color-occupied-secondary: rgb(255,223,223);

