@import "../../GlobalStyles/index";

.timetable--content {
    @include padding-medium;
}

.timetable--temp-info {
    margin: auto;
    width: min-content;
    @include column-grid;
}

.timetable--day-info {
    position: relative;
    text-align: center;
    @include font-size-large;
    @include padding-very-small;
    @include border(false, true, false, false);
}

.timetable--column-container {
    @include x-scrollable-container;
    @include padding-small;
}
