@import "../../GlobalStyles/index";

.timetable--column--content {
    max-width: 200px;
    @include x-scrollable-element;
}
.timetable--column--title {
    overflow: hidden;
    text-align: center;
    @include font-size-large;
    @include border(false, true, false, false);
    margin: 10px;
}
