@import "../../GlobalStyles/index";

.timetable--slot--content {
    @include tile-size-2;
    @include margin-tiny;
    cursor: default;
}

.timetable--slot--hour {
    height: 20%;
    text-align: center;
}

.timetable--slot--state {
    @include column-grid;
    @include margin-tiny;
    height: 60%;
    line-height: 1.2em;
    font-weight: bold;
}
