@import "../../GlobalStyles/index";

$button-settings: (
    "ok": (
        "color": #098c00,
        "color-light": #8abe87,
    ),
    "x": (
        "color": #c00000,
        "color-light": #e07373,
    ),
    "submit": (
        "color": #0036c0,
        "color-light": #92adff,
    )
);

@each $name, $value in $button-settings {
    $color-p: map-get($value, "color");
    $color-light: map-get($value, "color-light");

    .utils-button-#{$name} {
        font-size: 2.4em;
        border-radius: 50px;
        width: 140px;
        max-height: 70px;
        font-weight: bold;
        cursor: pointer;
        margin: auto auto;

        border: solid 5px $color-p;
        color: $color-p;
        background: $color-light;

        &:hover {
            color: $color-light;
            background: $color-p;
        }
    }

}
