@import "../../../GlobalStyles/index";

.reserve-slot-modal {
    margin: 0;
    @include padding-medium;
    @include column-grid;
}

.reserve-slot-modal form {
    @include column-grid;
    gap: 30px;
}

@each $theme, $values in $themes {
    .popup---#{$theme}-content {
        margin: 0;
        padding: 0;
        background: map-get($values, "primary");
        width: 600px;
        min-height: 400px;
        @include border-thick;
        @include border-radius-thick;
    }
    .popup---#{$theme}-arrow {
    }
    .popup---#{$theme}-overlay {
    }
}
