@import '../GlobalStyles/index.scss';

@each $theme, $values in $themes {
    .root-layout---#{$theme} {
        background: map-get($values, 'secondary');
    }
}

@each $theme, $values in $themes {
    .header---#{$theme} {
        @include box-shadow;
        @include x-scrollable-container;
        background: map-get($values, 'primary');
        margin: 0;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

.navlink {
    @include x-scrollable-element;
    text-decoration: none;
    white-space: nowrap;
    color: $color-focus;
    cursor: pointer;
    @include padding-small;

    &:hover {
        background: $color-focus;
        color: invert($color-focus);
    }
}
